.card {
	border: 1px solid black;
	width: 200px;
	height: 403px;
	border-radius: 5px;
	background: white;

}

.card__image {
padding-top: 30px;
padding-left: 20px;
}

.card__content{
	padding-top: 45px;
}

.all {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	padding-right: 15px;
}

.card__feedback{
	font-size: 13px;
	padding-left: 95px;
}

.blablabla{
	padding-left: 95px;
	font-weight: bold;
	font-size: 16px;
}

.card__price{
	font-size: 11px;
	padding-top: 25px;
}

.card__content{
	font-size: 13px;
}

.card__content__cod{
	padding-top: 6px;
	font-size: 11px;
}

.content__star{
	display: flex;
	flex-direction: row;
	padding-top: 15px;


}

/*.card__content_button{
	padding-top: 15px;
	display: flex;
	justify-content: center;
}
*/

.card__content_button_teg{
	background: #00ACDC;
	border-radius: 5px;

	color: white;
	margin-top: 10px;
	height: 40px;

}







.rating-result {
	width: 15px;
	height: 15px;
	display: flex;
	


}
.rating-result span {

	font-size: 15px;

	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
	content: '★';
}
.rating-result > span.active {
	color: gold;
	text-shadow: 1px 1px #c60;

}

















/*.card {
border: 1px solid black;
	width: 200px;
	height: 403px;
	border-radius: 5px;
	background: white;

}

.card__image {
padding-top: 30px;
padding-left: 20px;


left: 10%;
right: 10%;
top: 7.44%;
bottom: 59.31%;

background: url(imac.jpg);
}

.card__content {
padding-left: 20px;
padding-top: 45px;
left: 7.5%;
right: 8%;
top: 51.86%;
bottom: 40.45%;
display: flex;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 13px;
line-height: 15px;
font: bold;

color: #000000;
}

.card__content__cod {
padding-top: 6px;
padding-left: 20px;
left: 7.5%;
right: 42%;
top: 61.04%;
bottom: 35.73%;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
}

.card__image {
	display: flex;
	flex-direction: row;
	align-content: flex-end;
	align-items: center;
}

.content__star {
	display: flex;
	flex-direction: row;
	align-content: center;
	padding-left: 20px;
	padding-top: 15px;


}

.card__feedback {
display: flex;

left: 63.5%;
right: 7.5%;
top: 68.24%;
bottom: 28.54%;
padding-left: 50px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;


color: #000000;
}

.card__price {
display: flex;
flex-direction: row;
left: 7.5%;
right: 78%;
top: 77.92%;
bottom: 18.86%;
padding-top: 15px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 11px;
line-height: 13px;
/* identical to box height 
padding-left: 20px;
text-align: left;

color: #000000;
}

.card__price_pay{
display: flex;
flex-direction: row;
padding-left: 100px;
left: 53%;
right: 7.5%;
top: 76.67%;
bottom: 18.61%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 19px;
/* identical to box height 

text-align: right;


color: #000000;
}

.card__content_button{

left: 36.5%;
right: 36%;
top: 89.33%;
bottom: 6.45%;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 16px;
/* identical to box height 

text-align: center;
text-transform: uppercase;

color: #FFFFFF;

}

.card_content__button_bord{
border-width: 10px;
margin: 20px;
padding: 12px;
width: 145px;

background: #00ACDC;
border-radius: 3px;
}



.blablabla{
	padding-left: 100px;
	font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 16px;

}

