.card {
	border: 1px solid black;
	width: 200px;
	height: 403px;
	border-radius: 5px;
	background: white;	

}

.card__image {
text-align: center;
}

.card__container{
	display: flex;
	flex-direction: column;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
}

.card__content_text {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
	width: 100%;
	flex-grow: 1;
}


.card__content__cod{
	display: flex;
}

.rating-result{
	display: flex;
	justify-content: space-between;
}

.card__content_price_container{
	display: flex;
	justify-content: space-between;
}

.content__button{
	text-align: center;

}

.card__content_button_teg{
	background: #00ACDC;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: white;
}

.content__star {
	width: 15px;
	height: 15px;
	display: flex;
	
.
}
.content__star span {

	font-size: 15px;

	line-height: 1;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.content__star > span:before {
	content: '★';
}
.content__star > span.active {
	color: gold;
/*	text-shadow: 1px 1px #c60;*/

}

